body {
  font: 18px "Courier New", Courier, monospace;
  margin: 20px;
  background-color: #3c4f72;
  color: #fff;
}

ol, ul {
  list-style-type: none;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #4e668c;
  color: white;
  border: 2px solid #000;
  float: left;
  font-size: 64px;
  font-weight: bold;
  height: 84px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.winning-square {
  background-color: #046819;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  width: 100%;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
}

.game-info {
  margin-top: 20px;
}

.game-board {
  margin-top: 20px;
  display: inline-block;
}

.history-container {
  margin-top: 50px;
  margin-bottom: 30px;
}

.history-board .square {
  height: 34px;
  width: 34px;
  font-size: 24px;
  line-height: 34px;
}

.history-board {
  display: inline-block;
  padding-bottom: 5px;
}

.history-board.current {
  border-bottom: 1px solid;
  border-color: #dd6c25;
}

.history-board:not(:last-child) {
  margin-right: 20px;
}

.history-board button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.history-board button:focus {
  outline: none;
}

.history-last-move-square {
  background-color: #dd6c25;
}

/* checkbox styling */
.sort-label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 35px;
}

.sort-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
}

.sort-label .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sort-label input:checked ~ .checkmark {
  background-color: #4e668c;
}

.sort-label input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
