body {
  font: 18px "Courier New", Courier, monospace;
  background-color: #424242;
  color: white;
}

header {
  height: 45px;
  padding: 10px;
  background-color: #303030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app-container {
  margin-top: 65px;
}
