body {
  font: 18px "Courier New", Courier, monospace;
  background-color: #424242;
  color: white;
}

header {
  position: fixed;
  background-color: #303030;
  top: 0;
  left: 0;
  right: 0;
}

.app-container {
  margin-top: 65px;
}

.content-container {
  width: 500px;
  padding: 20px;
  margin: 0px auto;
}
