.app-nav-bar {
  padding: 10px;
  display: flex;
  height: 45px;
}

.app-nav-bar > span:not(.session-button-container){
  margin: auto 5px auto 5px;
}

.nav-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover, .nav-current {
  text-decoration: underline;
}

.nav-link:active {
  text-decoration: line-through;
}

.session-button-container > button {
  position: absolute;
  right: 10px;
}

.sidebar-container {
  background-color: #555555;
  position: fixed;
  width: 200px;
  height: 400px;
  overflow: scroll;
  left: 0px;
  top: 65px;
}

.sidebar-link {
  display: block;
  padding: 5px;
  padding-left: 10px;
}
